
footer {
    background: rgba(4, 119, 4, 0.815);
    min-height: $height;
}
footer {
    & p {
        color: $color1;
        text-align: center;

    }
   
}
#iconos i {
    font-size: 30px;
    padding: 0 8px;
    color: $color1;
}